@use "../../../styles/base.scss" as *;

.button {
  padding: 1em 1em;
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  transition: all 200ms ease-in-out;
  @include flexCenter;
  cursor: pointer;
}

.primary {
  background-color: $button-primary;
  color: $white;
  border: 1px solid $button-primary;
  &:hover {
    background-color: transparent;
    color: $button-primary;
  }
}

.secondary {
  background-color: transparent;
  border: $black solid 0.5px;

  @media screen and (min-width: $media-tablet) {
    &:hover {
      background-color: $button-primary;
      color: $white;
      border: $button-primary solid 0.5px;
    }
  }
}

.tertiary {
  background-color: $grey-3;
  color: $white;

  @media screen and (min-width: $media-tablet) {
    &:hover {
      background-color: $button-primary;
      color: $white;
    }
  }
}

.loading {
  background-color: $grey-3;
  color: $white;
  border: 1px solid $grey-3;
  cursor: not-allowed;
}

.disabled {
  background-color: $grey-3;
  color: $white;
  border: 1px solid $grey-3;
  cursor: not-allowed;
  opacity: 50%;

  @media screen and (min-width: $media-tablet) {
    &:hover {
      background-color: $grey-3;
      color: $white;
      border: 1px solid $grey-3;
      cursor: not-allowed;
      opacity: 50%;
    }
  }
}
