@use "../../../styles/base.scss" as *;

.mailWrap {
  @include flexCenter;
  flex-direction: column;
  background-color: $grey-2;
  min-height: 20em;
  @media (min-width: $media-tablet) {
    min-height: 30em;
  }
  @media (min-width: $media-desktop-small) {
    min-height: 40em;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1.5em;
    @media (min-width: $media-desktop-small) {
      font-size: 4rem;
    }
  }

  .thanks {
    @include flexCenter;
    flex-direction: column;
  }

  .formWrap {
    @include flexCenter;
    margin-top: 2em;
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    border-bottom: 1px solid $black;

    form {
      display: flex;
      padding-bottom: 0.5em;
      width: 90%;
      justify-content: space-between;
      .input {
        width: 70%;
        margin-bottom: 0.5em;
        background-color: $grey-2;
        font-size: 1rem;
        &::placeholder {
          color: $black;
          text-transform: uppercase;
          font-size: 10px;
        }
      }

      .error {
        @include flexCenter;
        text-transform: uppercase;
        font-size: 10px;
        color: $red-1;
        margin: 0 1em 0em;
      }

      .formButton {
        display: flex;
        align-items: flex-end;
        background-color: $grey-2;
        position: relative;
        padding-right: 30px;
        transition: 200ms;
        p {
          display: none;
          text-transform: uppercase;
          font-size: 10px;
          transition: 200ms;
          @media (min-width: $media-desktop-small) {
            display: block;
            margin-bottom: 0.8em;
          }
        }

        &:hover {
          p {
            color: $red-1;
          }
          .mailIcon {
            path {
              stroke: $red-1;
            }
          }
        }

        .mailIcon {
          right: 0px;
          top: 5px;
          position: absolute;
          width: 20px;
          height: 20px;
          path {
            transition: 200ms;
          }
        }
      }
    }
  }
}
