@use "../../../styles/base.scss" as *;

.mailWrap {
  @include flexCenter;
  flex-direction: column;
  background-color: $grey-2;
  min-height: 500px;

  .formWrap {
    @include flexCenter;
    margin-top: 2em;
    width: 70%;
    border-bottom: 1px solid $black;
    form {
      display: flex;
      padding-bottom: 0.5em;
      position: relative;
      .input {
        margin-bottom: 0.5em;
        background-color: $grey-2;
        &::placeholder {
          color: $black;
          text-transform: uppercase;
          font-size: 10px;
        }
      }

      .error {
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        font-size: 10px;
        color: $red-1;
      }

      .formButton {
        display: flex;
        align-items: flex-end;
        background-color: $grey-2;
        position: relative;
        padding-right: 30px;
        transition: 200ms;
        p {
          display: none;
          text-transform: uppercase;
          font-size: 10px;
          @media (min-width: $media-desktop-small) {
            display: block;
          }
        }

        &:hover {
          color: $red-1;
          .mailIcon {
            path {
              stroke: $red-1;
            }
          }
        }

        .mailIcon {
          right: 0px;
          top: 1px;
          position: absolute;
          width: 20px;
          height: 20px;
          path {
            transition: 200ms;
          }
        }
      }
    }
  }
}
