@use "../../../styles/base.scss" as *;
.uiControlsWrap {
  position: absolute;
  right: 0.5em;
  display: flex;
  top: 0.5em;
  .control {
    @include flexCenter;
    border: 1px solid;
    padding: 0.2em;
    width: 1.7em;
    height: 1.7em;
    margin-left: 0.5em;
    .center {
      path {
        stroke: $black;
      }
    }
    .centerVertical {
      path {
        stroke: $black;
      }
      rect {
        fill: $black;
      }
    }
    .centerHorizontal {
      path {
        stroke: $black;
      }
      rect {
        fill: $black;
      }
    }
  }
}
