@use "../../../styles/base.scss" as *;

@mixin buttonFont {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.button {
  min-height: 3em;
  text-transform: uppercase;
  @include flexCenter;
  @include boxShadow;
  @include buttonFont;
  transition: 200ms background-color, 200ms border;
  .icon {
    width: 15px;
    margin-right: 0.5em;
  }
}

.primary {
  border: 1px solid $grey-4;
  color: $black;
  border: 1px solid $grey-4;

  &:hover {
    background-color: $button-primary;
    border: 1px solid $button-primary;
    color: $white;
    .icon {
      fill: $white;
    }
  }
}

.secondary {
  color: $white;
  background-color: $button-primary;
  border: 1px solid $button-primary;
  .icon {
    fill: $white;
  }

  &:hover {
    background-color: $white;
    border: 1px solid $button-primary;
    color: $button-primary;
    .icon {
      fill: $button-primary;
    }
  }
}

.tertiary {
  color: $white;
  background-color: $grey-4;
  border: 1px solid $grey-4;
  .icon {
    fill: $white;
  }

  &:hover {
    background-color: $white;
    border: 1px solid $grey-4;
    color: $grey-4;
    .icon {
      fill: $grey-4;
    }
  }
}

.disabled {
  opacity: 0.2;
  border: 1px solid $grey-4;
  cursor: not-allowed;
  background-color: $white;
  color: $black;
  .icon {
    fill: $black;
  }

  &:hover {
    background-color: $white;
    border: 1px solid $grey-4;
    color: $black;
    .icon {
      fill: $black;
    }
  }
}
