@use "../../../styles/base.scss" as *;
.imageUploaderWrap {
  z-index: 200;
  position: absolute;
  top: 6em;
  width: 100%;
  max-width: 500px;
  padding: 1em;
  background-color: $grey-0;
  .uploadImageWrap {
    .imageButtonWrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
    }
    .uploadButton {
      padding: 1em;
      height: 100px;
      width: 100%;
      border: 1px dashed $black;
      transition: background-color 200ms ease;
      position: relative;
      background-color: $white;
      .buttonTextWrap {
        top: 0;
        left: 0;
        padding: 1em;
        height: 100px;
        width: 100%;
        position: absolute;
        @include flexCenter;
      }
      p {
        transition: opacity 200ms ease;
        text-transform: uppercase;
      }
      .add {
        width: 70px;
        opacity: 0;
        transition: opacity 200ms ease;
        // display: none;
        polygon {
          fill: $grey-2;
          transition: fill 200ms ease;
        }
      }
      &:hover {
        background-color: $grey-1;
        p {
          opacity: 0;
        }
        .add {
          opacity: 1;
          polygon {
            fill: $grey-4;
          }
        }
      }
    }
    .removeAllImagesButton {
      padding: 1em;
      height: 100px;
      width: 100%;
      //   border: 1px solid $black;
      background-color: $button-primary;
      transition: background-color 200ms ease;
      p {
        color: $white;
        text-transform: uppercase;
      }
      &:hover {
        background-color: $red-1;
      }
    }
    .newImageWrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
      margin-top: 1em;
      .imageItem {
        @include flexCenter;
        position: relative;
        padding: 0.5em;
        border: 1px dashed $black;
        min-width: 10px;
        img {
          width: 100%;
        }
        .imageItemBtnWrapper {
          position: absolute;
          top: -0.3em;
          right: -0.3em;
          button {
            .remove {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
  @media (min-width: $media-tablet-small) {
    left: calc(50% - 250px);
  }
  @media (min-width: $media-tablet) {
    top: 9.1em;
    left: calc(50% - 250px);
  }
}
