@use "../../../styles/base.scss" as *;

@mixin buttonFont {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
.imageUploaderWrap {
  border: 1px dashed $grey-4;
  padding: 1em;
  @include boxShadow;
  background-color: $white;
  left: calc(50% - (50vw - 1em));
  margin-top: 1em;
  max-width: 20em;
  position: absolute;
  width: calc(100vw - 0em);
  z-index: 200;
  max-height: 10.5em;
  overflow-y: scroll;

  .uploadImageWrap {
    position: relative;
    .imageButtonWrap {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1em;
    }
    .newImageWrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
    }
    .newImageWrapPaddingTop {
      padding-top: 1em;
    }
  }
  @media (min-width: 352px) {
    left: calc(50% - 10em);
  }
  @media (min-width: $media-tablet-small) {
    // left: calc(50% - 250px);
  }
  @media (min-width: $media-desktop-small) {
    // min-height: 16em;
    max-height: 16em;
    // background-color: $grey-2;
    // box-shadow: none;
    top: calc(50% - 240px);
    left: calc(500px + 1.8em);
    margin-top: 0;
  }
}
