@use "../../../styles/base.scss" as *;

.header {
  @include boxShadow;

  z-index: 2;

  .topBanner {
    display: none;
    padding: 1em;
    font-family: sofia-pro, sans-serif;
    border-bottom: 1px solid $black;
    @media screen and (min-width: $media-tablet) {
      @include flexCenter;
    }
    p {
      font-size: 0.75rem;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .mainHeader {
    min-height: 4em;
    position: relative;
    @include flexCenter;
    justify-content: space-between;
  }
}
