@use "../../../styles/base.scss" as *;

.header {
  @include boxShadow;

  .topBanner {
    padding: 0.5em;
    font-family: sofia-pro, sans-serif;
    border-bottom: 1px solid $black-opacity-40;
    p {
      text-transform: uppercase;
      text-align: center;
    }
  }
  .mainHeader {
    min-height: 4em;
    position: relative;
    @include flexCenter;
    justify-content: space-between;
    .imageWrap {
      position: absolute;
      left: calc(50% - 60px);
      width: 120px;
      margin: 0.2em auto 0;
    }
  }
}
