@use "../../../styles/base.scss" as *;
.appWrap {
  position: relative;
  min-height: 54.5em;
  margin: 0em 0;

  @media (min-width: $media-desktop-small) {
    max-width: 850px;
    margin: 0em auto;
    min-height: auto;
  }
}

.productViewportContainer {
  position: "relative";
  @include flexCenter;
  width: 100%;
  overflow: hidden;
  // .imageCaptureWrap {
  //   .imageWrap {
  //   }
  // }

  @media (min-width: $media-desktop-small) {
    justify-content: flex-start;
  }
}
.productViewport {
  position: absolute;
  top: 0;
  left: calc(50% - (50vw - 1em));
  width: calc(100vw - 2em);
  max-width: 500px;

  .imageOuterWrap {
    width: 100%;
    height: 100%;
    z-index: -10;
    pointer-events: none;
    @include flexCenter;
  }
  .logoImageWrap {
    display: grid;
    align-content: center;
    .logoImage {
      width: 100%;
      height: 100%;
    }
  }

  @media (min-width: 532px) {
    left: calc(50% - 250px);
  }
  @media (min-width: $media-desktop-small) {
    left: 0;
  }
}
.customArearHide,
.customArear {
  position: relative;
  // border: 1px dashed $grey-4;
  position: relative;
  height: 450px;
  width: calc(100vw - 2em);
  max-width: 500px;
  // @include boxShadow;
  .customLogo {
    touch-action: none;
    border: 1px dashed $grey-4;
    top: 0px;
    left: 0px;
    position: absolute;
    cursor: grab;
    @include flexCenter;
    .resizer {
      border: 1px solid $grey-4;
      position: absolute;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: $white;
      bottom: -13px;
      right: -13px;
      touch-action: none;
      cursor: nwse-resize;
      @include boxShadow;
      transition: 300ms;
      &:hover,
      &:focus {
        background-color: $button-primary;
      }
    }
  }
  .customLogoDisabled {
    pointer-events: none;
    opacity: 0;
  }
  @media (min-width: $media-desktop-small) {
    max-width: 450px;
  }
}

.customArearHide {
  box-shadow: none;
  .customLogo {
    border: 1px dashed rgba(255, 255, 255, 0);
    .resizer {
      opacity: 0;
    }
  }
}
