@use "../../../../styles/base.scss" as *;

.navOne,
.navTwo {
  display: none;
  padding: 0 2em;
  text-transform: uppercase;

  @media (min-width: $media-desktop-small) {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      li {
        margin: 0 1em;

        a {
          transition: color 200ms;
          font-weight: 500;
          font-size: 0.75rem;
          &:hover {
            color: $grey-1;
          }
        }
      }
    }
  }
}

.navTwo {
  .iconWrap {
    position: relative;
    top: 3px;
    .account,
    .search {
      width: 18px;
      height: 18px;
      margin: 0 0.5em;
    }
  }
}
