@use "../base.scss" as *;
.accountDetailsWrap {
  margin: 4em 1em;
  @media (min-width: $media-tablet-small) {
    margin: 4em 2em;
  }
  @media (min-width: $media-desktop-small) {
    margin: 4em auto;
    max-width: calc(950px - 4em);
  }
  @media (min-width: $media-desktop) {
    margin: 4em auto;
    max-width: calc(1020px - 4em);
  }
  // @media (min-width: $media-desktop-medium-large) {
  //   margin: 4em auto;
  //   max-width: calc(1020px - 4em);
  // }
  .titleWrap {
    display: flex;
    justify-content: space-between;
    .loggedInTitle {
      @include flexCenter;
      flex-direction: column;
      p {
        font-size: 0.8em;
      }
      span {
        border-radius: 50%;
      }
    }
  }
  .tabWrap {
    margin: 2em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .button {
      color: $grey-2;
      border-top: 1px solid rgba(255, 255, 255, 0);
      border-right: 1px solid rgba(255, 255, 255, 0);
      border-left: 1px solid rgba(255, 255, 255, 0);
      height: 40px;
      text-transform: uppercase;
      font-weight: 600;
      position: relative;
      transition: 200ms;
      &::after {
        transition: 200ms;
        opacity: 0;
      }
    }
    .activeDesigns,
    .activeDetails {
      opacity: 1;
      color: $black;
      border-top: 1px solid $grey-3;
      border-left: 1px solid $grey-3;
      border-right: 1px solid $grey-3;
      transition: 200ms;
      &::after {
        position: absolute;
        display: block;
        content: "";
        bottom: 0px;
        height: 1px;
        width: 100%;
        width: 100%;
        background-color: $grey-3;
      }
    }
    .activeDetails {
      &::after {
        opacity: 1;
        right: -100%;
        transform-origin: left;
        animation: growing 1s forwards;

        @keyframes growing {
          0% {
            transform: scaleX(0);
          }
          100% {
            transform: scaleX(1);
          }
        }
      }
    }
    .activeDesigns {
      &::after {
        opacity: 1;
        left: -100%;
        transform-origin: right;
        animation: growing 1s forwards;

        @keyframes growing {
          0% {
            transform: scaleX(0);
          }
          100% {
            transform: scaleX(1);
          }
        }
      }
    }
  }
  .accountDetailsHide {
    opacity: 0;
    transition: opacity 300ms ease-out;
    @media (min-width: 960px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2em;
    }
  }
  .accountDetailsShow {
    opacity: 1;
    transition: opacity 300ms ease-in;
    @media (min-width: $media-desktop-small) {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2em;
    }
  }
  .save {
    margin-top: 3em;
  }
}
.loggingOut {
  h1 {
    margin-bottom: 1em;
  }
  margin: 4em 2em;
  @include flexCenter;
  flex-direction: column;
}

.pageWrap {
  background-color: $grey-0;
  min-height: 700px;
  @include flexCenter;

  .newAccountWrap {
    background-color: $white;
    padding: 1em;

    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4em 1em;
    @media (min-width: $media-tablet-small) {
      margin: 4em 2em;
    }
    @media (min-width: $media-desktop-small) {
      margin: 4em auto;
      max-width: calc(950px - 4em);
    }
    @media (min-width: $media-desktop) {
      margin: 4em auto;
      max-width: calc(1020px - 4em);
    }

    h3 {
      margin-top: 2em;
    }

    form {
      width: 100%;
      @include flexCenter;
      flex-direction: column;
      input {
        width: 100%;
        background-color: $white;
        border: 1px solid $black;
        margin-top: 1em;
        min-height: 45px;
        outline: none;
        padding: 1rem;
        &::placeholder {
          font-size: 1em;
        }
      }
      label {
        margin-top: 1em;

        // margin-bottom: 0.5em;
      }
      .button {
        width: 100%;
        margin-top: 1em;
      }

      @media (min-width: $media-tablet-small) {
        width: 50%;
      }
    }
    @media (min-width: $media-tablet) {
      width: unset;
    }
  }
}
