@use "../base.scss" as *;

.heroWrap {
  .heroText {
    padding: 4em 2em;
    @include flexCenter;
    flex-direction: column;
    @media (min-width: $media-desktop) {
      height: 23em;
    }
    h1 {
      margin-bottom: 1em;
      text-transform: uppercase;
    }
    p {
      max-width: 23em;
      text-align: center;
    }
  }
  .heroImage {
    max-height: 23em;
    overflow: hidden;
  }
}
.categoriesProductsWrap {
  padding: 4em 2em;
  .productsTitleWrap {
    h2 {
      font-size: 1em;
      text-align: center;
      margin-bottom: 2em;
    }
  }
  .productsWrap {
    margin: 0 auto;
    max-width: calc(520px + 2em);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    @media (min-width: $media-desktop) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: $media-desktop-large) {
      max-width: calc(1020px + 2em);
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
