@use "../base.scss" as *;
.pageWrap {
  min-height: calc(100vh - 510px);
  position: relative;
  .signIn {
    position: absolute;
    top: 57.5em;
    left: calc(50% - 10em);
    width: 20em;
    padding: 1em;
    p {
      text-align: center;
      margin-bottom: 1em;
    }
  }
  .appWrap {
    background-color: $grey-0;
    width: 100%;
    height: 100%;
    padding: 2em 0;
    @media (min-width: $media-tablet) {
      padding: 4em 0;
    }
    @media (min-width: $media-desktop) {
      padding: 6em 0;
    }
  }
  .cover {
    position: absolute;
    top: 0em;
    z-index: 90;
    width: 100%;
    height: 100%;
    background-color: $black-opacity-60;
  }
  .login {
    position: absolute;
    z-index: 100;
    width: 200px;
    text-align: center;
    background-color: $grey-0;
    padding: 20px;
    left: calc(50% - 100px);
    top: calc(50% - 92px);
    p {
      margin-bottom: 20px;
      // color: $red-1;
      background-color: $white;
      padding: 10px;
    }
    .loginButton {
      background-color: $button-primary;
      color: $white;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.8em;
      min-height: 3em;
      @include flexCenter;
    }
  }
  .pictureSavedModal {
    position: absolute;
    z-index: 100;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    background-color: $white;
    padding: 20px;
    left: calc(50% - 125px);
    top: calc(50% - 92px);
    @include boxShadow;
    p {
      padding: 10px;
      font-weight: 300;
      letter-spacing: 0.15em;
    }
  }
  @media (min-width: $media-tablet) {
    padding: 0em 0;
    .signIn {
      top: 59.5em;
    }
  }
  @media (min-width: $media-desktop-small) {
    .signIn {
      top: 37em;
      width: 850px;
      left: calc(50% - 425px);
      a {
        max-width: 24em;
        margin: 0 auto;
      }
    }
  }
  @media (min-width: $media-desktop) {
    padding: 0em 0;
    .signIn {
      // top: 39em;
    }
  }
}
