@use "../base.scss" as *;
.pageWrap {
  // padding: 2em 0;
  min-height: calc(100vh - 510px);
  position: relative;
  // background-color: $grey-4;
  .signIn {
    width: calc(100vw - 2em);
    margin: 1em auto;
    max-width: 20em;
    @include boxShadow;
    padding: 1em;
    // border: 4px solid $red-opacity;
    p {
      text-align: center;
      // opacity: 0.5;
      margin-bottom: 1em;
    }
  }

  .appWrap {
    background-color: $grey-0;
    width: 100%;
    height: 100%;

    padding: 2em 0;

    @media (min-width: $media-tablet) {
      padding: 4em 0;
    }
    @media (min-width: $media-desktop) {
      padding: 6em 0;
    }
  }
  .cover {
    position: absolute;
    top: 0em;
    z-index: 90;
    width: 100%;
    height: 100%;
    background-color: $black-opacity-60;
  }
  .login {
    position: absolute;
    z-index: 100;
    width: 200px;
    text-align: center;
    background-color: $grey-0;
    padding: 20px;
    left: calc(50% - 100px);
    top: calc(50% - 92px);
    p {
      margin-bottom: 20px;
      // color: $red-1;
      background-color: $white;
      padding: 10px;
    }
    .loginButton {
      background-color: $button-primary;
      color: $white;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.8em;
      min-height: 3em;
      @include flexCenter;
    }
  }
  .pictureSavedModal {
    position: absolute;
    z-index: 100;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    background-color: $white;
    // background-color: $button-primary;
    padding: 20px;
    left: calc(50% - 125px);
    top: calc(50% - 92px);
    @include boxShadow;
    // background-color: red;
    p {
      padding: 10px;
      font-weight: 300;
      letter-spacing: 0.15em;
    }
  }

  @media (min-width: $media-tablet) {
    padding: 0em 0;
  }
  @media (min-width: $media-desktop) {
    padding: 0em 0;
  }
}
