@use "../base.scss" as *;
.pageWrap {
  padding: 4em 0;
  .hero {
    margin: 0 auto;
    height: 300px;
    width: 300px;
  }
  .info {
    padding: 4em 2em;
    h1 {
      text-align: center;
      margin-bottom: 1em;
    }
    p {
      margin: 0 auto;
      max-width: 23em;
      text-align: center;
    }
  }
  .productImagesWrap {
    position: relative;
    background-color: $grey--1;
    height: 200px;
    padding: 0 2em;
    .productColoursButtons {
      min-height: 30px;
      @include flexCenter;
      @media (min-width: $media-tablet) {
        position: absolute;
        flex-direction: column;
      }
    }

    .productImages {
      @include flexCenter;

      .imageWrap {
        height: 100%;
        width: 100%;
        min-height: 50px;
        min-width: 50px;
        max-height: 300px;
        max-width: 300px;
      }
    }
  }
}
