@use "../base.scss" as *;
.pageWrap {
  padding: 4em 0;
  .hero {
    margin: 0 auto;
    height: 300px;
    width: 300px;
  }
  .info {
    padding: 4em 2em;
    h1 {
      text-align: center;
      margin-bottom: 1em;
    }
    p {
      margin: 0 auto;
      max-width: 23em;
      text-align: center;
    }
  }
  .productImagesWrap {
    margin-top: 2em;
    position: relative;
    background-color: $grey-0;
    padding: 0 2em;
    .productColoursButtons {
      z-index: 10;
      position: absolute;
      @include flexCenter;
      @media (min-width: $media-tablet) {
        flex-direction: column;
      }
    }
    .productImagesWrap {
      display: grid;
      justify-content: center;
      span {
        max-height: 300px;
        max-width: 300px;
      }
    }
  }
}
