@use "../base.scss" as *;
.pageWrap {
  padding: 4em 0;
  .hero {
    margin: 0 auto;
    height: 300px;
    width: 300px;
  }
  .info {
    padding: 4em 2em;
    h1 {
      text-align: center;
      margin-bottom: 1em;
    }
    p {
      margin: 0 auto;
      max-width: 23em;
      text-align: center;
    }
  }
  .productImagesSection {
    @include flexCenter;
    min-height: 280px;
    background-color: $grey-0;
    .productImagesBackgroundWrap {
      width: 100%;
      padding-top: 4em;
      .productImagesWrap {
        display: grid;
        justify-content: center;
        span {
          max-height: 300px;
          max-width: 300px;
        }
      }
    }
  }
  @media (min-width: $media-tablet-small) {
    .productImagesSection {
      padding: 0 2.5em;
      .productImagesBackgroundWrap {
        padding-top: 0em;
      }
    }
  }
}
