@use "../base.scss" as *;

.pageWrap {
  background-color: $grey-0;
  min-height: 700px;
  @include flexCenter;
  .signInForm {
    width: 90%;
    form {
      @include flexCenter;
      flex-direction: column;
      input {
        width: 100%;
        background-color: $white;
        border: 1px solid $black;
        min-height: 45px;
        outline: none;
        padding: 1rem;
        font-size: 1em;
        &::placeholder {
          font-size: 1em;
        }
      }
      label {
        margin-bottom: 0.5em;
      }
      button {
        width: 100%;
        padding: 1em;
        background-color: $button-primary;
        color: $white;
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 1em;
        letter-spacing: 0.15em;
      }
    }

    background-color: $white;
    padding: 1em;
    margin: 1em 0;
    h1 {
      text-align: center;
    }
    p {
      margin: 2em 0;
      max-width: 400px;
      text-align: center;
    }
    .providerWrap {
      @include flexCenter;
      flex-direction: column;
      button {
        text-transform: uppercase;
        font-weight: 500;
        border: 1px solid $black;
        padding: 1em;
        transition: background-color 200ms ease, color 200ms ease,
          border 200ms ease;
        letter-spacing: 0.15em;
        &:hover {
          background-color: $button-primary;
          color: $white;
          border: 1px solid $white;
        }
      }
    }
    @media (min-width: $media-tablet) {
      width: unset;
    }

    .changeView {
      text-decoration: underline;
      color: $button-primary;
      margin: 1em;
      cursor: pointer;
    }
  }

  @media (min-width: $media-tablet) {
    .signInForm {
      padding: 3em;
      margin: 3em;
    }
  }
}
