@use "../../../styles/base.scss" as *;

.border {
  @include flexCenter;
  cursor: pointer;
  border: 1px solid $grey-4;
  padding: 2px;
  margin: 2px;
  .colour {
    display: flex;
    width: 19px;
    height: 18px;
    border: 1px solid $grey-4;
  }
}

.circleBorder {
  background-color: $button-primary;
  border: 1px solid $button-primary;
  width: 24px;
  height: 24px;
  .circle {
    border: 1px solid $white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
  }
}

.squareBorder {
  background-color: $button-primary;
  border: 1px solid $button-primary;
  width: 24px;
  height: 24px;
  .square {
    border: 1px solid $white;
    width: 14px;
    height: 14px;
  }
}

.rectangleBorder {
  width: 24px;
  height: 24px;
  background-color: $button-primary;
  border: 1px solid $button-primary;
  .rectangle {
    width: 9px;
    height: 14px;
    border: 1px solid $white;
  }
}

.hexagonalBorder {
  width: 24px;
  height: 24px;
  background-color: $button-primary;
  border: 1px solid $button-primary;
  .hexagonal {
    width: 18px;
    height: 15px;
    border: 1px solid $white;
    clip-path: polygon(25% 0%, 75% 0%, 95% 50%, 75% 100%, 25% 100%, 5% 50%);
    transform: rotate(90deg);
  }
}
