@use "../../../styles/base.scss" as *;

.productWrap {
  max-width: 260px;
  .productImageWrap {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  p {
    margin: 2em 0 1em;
    text-align: center;
  }
  .productColours {
    @include flexCenter;
  }
}
