@use "../../../styles/base.scss" as *;

.border {
  @include flexCenter;
  cursor: pointer;
  border: 1px solid $grey-4;
  padding: 2px;
  margin: 0.2em;
  .colour {
    display: flex;
    width: 12px;
    height: 12px;
  }
}
