@use "../../../styles/base.scss" as *;

.signIn {
  position: absolute;
  top: 57.5em;
  left: calc(50% - 10em);
  width: 20em;
  padding: 1em;
  p {
    text-align: center;
    margin-bottom: 1em;
  }
}

@media (min-width: $media-tablet) {
  .signIn {
    top: 59.5em;
  }
}
@media (min-width: $media-desktop-small) {
  .signIn {
    top: 34em;
    width: 850px;
    left: calc(50% - 425px);
    a {
      max-width: 24em;
      margin: 0 auto;
    }
  }
}
@media (min-width: $media-desktop) {
  .signIn {
    top: 36em;
  }
}
