@use "../../../styles/base.scss" as *;

@mixin buttonFont {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.imageUploaderWrap {
  // border: 1px solid $button-primary;
  padding: 1em;
  @include boxShadow;
  background-color: $white;
  left: calc(50% - (50vw - 1em));
  margin-top: 1em;
  max-width: 20em;
  position: absolute;
  width: calc(100vw - 0em);
  z-index: 200;
  overflow-y: scroll;
  height: 21.6em;
  .uploadImageWrap {
    position: relative;
    .imageButtonWrap {
      display: grid;
      grid-template-columns: 0.9fr 0.9fr 0.1fr;
      grid-gap: 1em;
      .remove {
        width: 25px;
        height: 25px;
        g {
          line {
            stroke: $black;
          }
        }
      }
    }
    .newImageWrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
    }
    .newImageWrapPaddingTop {
      padding-top: 1em;
    }
  }
  @media (min-width: 352px) {
    left: calc(50% - 10em);
  }
  @media (min-width: $media-desktop-small) {
    max-height: 16.4em;
    top: calc(50% - 14.2em);
    left: calc(500px + 1.8em);
    margin-top: 0;
  }
}
