@use "../../../styles/base.scss" as *;
.slider {
  .next,
  .prev {
    position: absolute;
  }
  .next {
    left: 100px;
  }
  img {
    object-fit: cover;
  }
  .fade {
    opacity: 0;
    transition: 1000ms;
  }
  .unFade {
    opacity: 1;
    transition: 1000ms;
  }
}
