@use "../../../styles/base.scss" as *;
.customer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 1px solid $grey-3;
  padding: 1em 0;

  .details {
    opacity: 1;
    height: 2.25em;
    display: flex;
    align-items: center;
    color: $grey-5;

    h3 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.8rem;
    }
    p {
      font-size: 0.8em;
    }

    input {
      cursor: pointer;
      width: 100%;
      border: none;
      background: transparent;
      color: $grey-5;
      padding: 0.5em 0;
      transition: all 250ms ease-in-out;

      &:focus {
        // outline: 1px solid $grey-3;
        padding: 0.5em 2em 0.5em 1em;
        background-color: $grey-0;
      }

      &:disabled {
        color: $grey-3;
        cursor: not-allowed;
      }
    }

    .provider {
      span {
        text-transform: capitalize;
      }
    }
  }
  .details:nth-child(1) {
    justify-content: flex-start;
  }

  .resetPassword {
    margin-top: 1em;
    @media (min-width: $media-tablet) {
      width: max-content;
    }
  }

  .passwordSuccess {
    margin-top: 1em;
    background-color: $success-green;
    padding: 0.5em 1em 0.5em 1em;
    width: 100%;
    color: $white;

    @media (min-width: $media-tablet) {
      width: max-content;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  width: 100%;

  .deleteAccount {
    background-color: transparent;
    color: rgb(240, 88, 88);
    border: rgb(240, 88, 88) 1px solid;

    &:hover {
      background-color: rgb(240, 88, 88);
      color: $white;
    }
  }
}

.deleteWarning {
  width: 100%;
  margin-top: 1em;
  padding: 0.5em 1em 0.5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: rgb(240, 88, 88) 1px solid;

  @media (min-width: $media-tablet) {
    align-items: flex-start;
  }

  .cancel {
    background-color: $black;
    color: $white;
    &:hover {
      background-color: rgb(240, 88, 88);
      border: solid 1px rgb(240, 88, 88);
      color: $black;
    }
  }

  button {
    margin-top: 0.5em;
    width: 100%;
    color: $black;

    &:hover {
      background-color: $success-green;
      border: solid 1px $success-green;
    }

    @media (min-width: $media-tablet) {
      width: 20em;
    }
  }
}
