@use "../../../styles/base.scss" as *;
.customer {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-gap: 1em;
  border-bottom: 1px solid $grey-3;
  .details {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    h3 {
      text-transform: uppercase;
      align-content: center;
      font-weight: 600;
    }
    p {
      font-size: 0.8em;
      align-items: center;
    }
    .pencil {
      width: 15px;
      fill: $grey-5;
    }
  }
}
