@use "../../../../styles/base.scss" as *;

.navWrapper {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 1em 4em;
  width: 100%;
  position: relative;

  @media screen and (min-width: $media-desktop-medium-large) {
    display: flex;
  }

  .logo {
    @include flexCenter;
    position: absolute;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    cursor: pointer;
  }

  .navLinks {
    z-index: 1;
    display: flex;
    align-items: center;
    a {
      text-transform: uppercase;
      margin-right: 2em;
      letter-spacing: 0.1em;
      font-weight: 600;
      font-size: 0.75rem;
      cursor: pointer;
      transition: opacity 300ms ease-in-out;

      &:hover {
        opacity: 50%;
      }
    }
  }

  .navBottom {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    li {
      a {
        text-transform: uppercase;
        margin-right: 2em;
        letter-spacing: 0.1em;
        font-weight: 600;
        font-size: 0.75rem;
        cursor: pointer;
        transition: opacity 300ms ease;

        &:hover {
          opacity: 50%;
        }
      }
    }

    .account {
      display: flex;
      align-items: center;
      margin-left: 1em;
    }

    .search {
      margin-left: 2em;
      margin-right: 1em;
      display: flex;
      align-items: center;
    }
  }
}
