@use "../../../styles/base.scss" as *;

.productViewWrap {
  position: relative;
  min-height: 46em;
  @include flexCenter;
  width: 100vw;
  overflow: hidden;
  align-items: flex-start;
  // background-color: $grey-1;
  .imageWrap {
  }
}
.productView {
  position: absolute;
  top: 0;
  min-height: 46em;
  left: calc(50% - (20em / 2));
  // background-color: $grey-1;
}
.viewportWrap {
  position: relative;
  top: 1em;
  border: 1px dashed $grey-4;
  position: relative;
  height: 26em;
  width: calc(100vw - 2em);
  max-width: 20em;
  margin: 0 auto;
  @include boxShadow;
  .viewport {
    touch-action: none;
    border: 1px dashed $grey-4;
    top: 0px;
    left: 0px;
    position: absolute;
    cursor: grab;
    @include flexCenter;
    .resizer {
      border: 1px solid $grey-4;
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $white;
      bottom: -5px;
      right: -5px;
      touch-action: none;
      cursor: nwse-resize;
      @include boxShadow;
      transition: 300ms;
      &:hover,
      &:focus {
        background-color: $button-primary;
      }
    }
  }
}
