@use "../../../styles/base.scss" as *;

.productViewWrap {
  // background-color: rgb(157, 157, 243);
  position: relative;
  min-height: 48em;
}

.viewportWrap {
  position: relative;
  top: 3em;
  border: 1px dashed $grey-4;
  position: relative;
  height: 26em;
  width: calc(100vw - 2em);
  max-width: 20em;
  margin: 0 auto;
  // background-color: rgb(191, 191, 255);
  @include boxShadow;
  // border-radius: 5px;

  .viewport {
    // border-radius: 5px;
    border: 1px dashed $grey-4;
    top: 0px;
    left: 0px;
    position: absolute;
    cursor: grab;
    @include flexCenter;
    .resizer {
      border: 1px solid $grey-4;
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $white;
      bottom: -5px;
      right: -5px;
      touch-action: none;
      cursor: nwse-resize;
      @include boxShadow;
      transition: 300ms;
      &:hover,
      &:focus {
        background-color: $button-primary;
      }
    }
  }
}
