@use "../../../styles/base.scss" as *;
.appWrap {
  position: relative;
  min-height: 46em;
}
.productViewWrap {
  @include flexCenter;
  width: 100%;
  overflow: hidden;
  padding: 1em;
  .imageWrap {
    border-radius: 5px;
  }
}
.productView {
  position: absolute;
  top: 0;
  min-height: 46em;
  left: calc(50% - (50vw - 1em));
  @media (min-width: 514px) {
    left: calc(50% - (30em / 2));
  }
}
.viewPortClear,
.viewportWrap {
  position: relative;
  top: 2em;
  border: 1px dashed $grey-4;
  position: relative;
  height: 30em;
  width: calc(100vw - 2em);
  max-width: 30em;
  @include boxShadow;
  .viewport {
    touch-action: none;
    border: 1px dashed $grey-4;
    top: 0px;
    left: 0px;
    position: absolute;
    cursor: grab;
    @include flexCenter;
    .resizer {
      border: 1px solid $grey-4;
      position: absolute;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: $white;
      bottom: -13px;
      right: -13px;
      touch-action: none;
      cursor: nwse-resize;
      @include boxShadow;
      transition: 300ms;
      &:hover,
      &:focus {
        background-color: $button-primary;
      }
    }
  }
}
.viewPortClear {
  border: 1px dashed rgba(255, 255, 255, 0);
  box-shadow: none;
  .viewport {
    border: 1px dashed rgba(255, 255, 255, 0);
    .resizer {
      display: none;
    }
  }
}
