@use "../../../styles/base.scss" as *;

.productWrap {
  max-width: 260px;
  .productImageWrap {
    display: block;
    // border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  .textLink {
    text-transform: uppercase;
    display: block;
    margin: 1.5em 0 1em;
    text-align: center;
    transition: 300ms;
    &:hover {
      color: $button-primary;
    }
  }
  .productColours {
    @include flexCenter;
    margin-bottom: 1em;
    .coloursLeft {
      margin-left: 0.3em;
    }
    .coloursRight {
      margin-right: 0.3em;
    }
  }
  .button {
    max-width: 10em;
    margin: 0 auto;
  }
}
