@use "../../../styles/base.scss" as *;

.active {
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    left: calc(50% - 2px);
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: $button-primary;
    // background-color: $black;
    // background-color: $grey-4;
    // opacity: 0.3;
    @include boxShadow;
  }
}
