@use "../../../styles/base.scss" as *;

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  @media screen and (min-width: $media-tablet) {
    grid-template-columns: 1fr 1fr;
  }
}
