@use "../../../styles/base.scss" as *;

.navFilterWrap {
  margin-bottom: 2em;
  @include flexCenter;
  .navFilter {
    @include flexCenter;
    flex-wrap: wrap;
    button {
      &:nth-child(1) {
        margin-left: 0;
      }
    }
    button {
      margin: 1em;
      p {
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 600;
      }
    }
  }
}

.loggingInWrap {
  //   border: 1px solid blue;
  display: flex;
  justify-content: center;
}

.designs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  //   border: 1px solid red;
  .productWrap {
    @include boxShadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .imageWrap {
      position: relative;
      .deleteCustomButton {
        position: absolute;
        z-index: 10;
        right: 5px;
        top: 5px;
        .removeIcon {
          width: 30px;
          opacity: 0.5;
          height: 30px;
        }
      }

      .downloadCustomButton {
        position: absolute;
        z-index: 10;
        right: 35px;
        top: 10px;
        .removeIcon {
          width: 17px;
          opacity: 0.5;
          height: 17px;
        }
      }
      // border: 1px solid blue;
    }
    .productName {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      background-color: $grey-1;
      padding: 0.5em;
      p {
        text-align: center;
        text-transform: uppercase;
      }

      .created {
        font-size: 0.5em;
      }
    }
  }

  @media (min-width: $media-tablet-small) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: $media-tablet) {
    grid-template-columns: repeat(4, 1fr);
  }

  .noDesigns {
    padding: 2em 1em;
    background-color: $grey-0;
    @include flexCenter;
    text-align: center;
    flex-direction: column;
    width: 100%;
    grid-column: span 2;

    h2 {
      margin-bottom: 1em;
    }

    @media (min-width: $media-tablet-small) {
      grid-column: span 3;
    }
    @media (min-width: $media-tablet) {
      grid-column: span 4;
    }
  }
}
