// colours
$white: #fff;
$black: #000;
$grey--1: #f0f0f0;
$grey-0: #f5f5f5;
$grey-1: #e2e2e2;
$grey-2: #e6e6e6;
$grey-3: #bababa;
$grey-4: #909090;
$grey-5: #707070;
$red-1: #ee3a4d;
$black: #000;
$button-primary: #be9957;
$red-opacity: #ee3a4c44;
$white-opacity-50: #ffffff60;
$black-opacity-40: #00000040;
$black-opacity-60: #00000060;
$success-green: rgb(166, 217, 166);

// media queries
$media-tablet-small: 500px;
$media-tablet: 650px;
$media-tablet-large: 800px;
$media-desktop-small: 950px;
$media-desktop: 1020px;
$media-desktop-medium-large: 1225px;
$media-desktop-large: 1350px;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin boxShadow {
  box-shadow: 0px 5px 10px 0px #00000011;
}
