@use "../../../../styles/base.scss" as *;

.mobileNav {
  @media (min-width: $media-desktop-small) {
    display: none;
  }
}

.navButton {
  position: absolute;
  background-color: $white;
  right: 2em;
  top: 15px;
  .menu {
    height: 20px;
    width: 20px;
  }
}

.nav {
  top: 30px;
  right: 0;
  position: absolute;
  transition: 500ms;
  background-color: $white;
  padding: 1em;
  @include boxShadow;

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    li {
      a {
        cursor: pointer;
        display: block;
        padding: 0.5em 3em;
      }
    }
  }
}

.iconWrap {
  @include flexCenter;
  padding: 0 2em;
  .search,
  .account {
    cursor: pointer;
    margin: 0.5em;
    width: 20px;
  }
}

.navClosed {
  transform: translate(250px);
}
