@use "../../../styles/base.scss" as *;

.testWrap {
  position: relative;
  top: 3.3em;
  border: 1px dashed $grey-4;
  position: relative;
  width: calc(100vw - 2em);
  height: 26em;
  max-width: 36em;
  margin: 0 auto;
  background-color: rgb(191, 191, 255);

  .test {
    border: 1px dashed $black;
    top: 0px;
    left: 0px;
    position: absolute;
    cursor: grab;
    @include flexCenter;
    .resizer {
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $white;
      bottom: -20px;
      right: -20px;
      touch-action: none;
      cursor: nwse-resize;
      @include boxShadow;
      transition: 300ms;
      &:hover,
      &:focus {
        background-color: $button-primary;
      }
    }
  }
}
